@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  /* background: rgba(146, 146, 146, 0.266);
  outline: dotted 1px; */
  list-style-type: none;
}

html {
  background: rgb(35, 35, 35);
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* gap: 1rem; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.Cell {
  cursor: crosshair;
  user-select: none;
  outline: 1px dotted rgb(35, 35, 35);
}

.Grid {
  display: grid;
  width: 20rem;
  height: 20rem;
  outline: 1px dotted black;
  background: lightgray;
  align-self: center;
  margin-top: 3rem;
}

#Brush-color {
  height: 3rem;

  opacity: 0;
  cursor: pointer;
}

.Brush-color-wrapper {
  height: 2rem;
  width: 2rem;
  border-radius: 3rem;
  /* border: 2px solid lightgray; */
  cursor: pointer;
  overflow: hidden;
}

.Grid-range-label {
  width: 20rem;
  align-self: center;

  margin-top: 0.5rem;
}

#Grid-range {
  width: 20rem;
  align-self: center;
  margin-top: 2rem;
}

.Brush-color-label {
  font-weight: 700;
}

.Eraser {
  font-weight: 700;
}

.Darkener {
  font-weight: 700;
}

.Tools {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
  gap: 1rem;
}

.Tools-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.Tools-wrapper:hover {
  background: rgba(255, 255, 255, 0.1);
}

.Brush-color-tools-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.Reset {
  background: rgb(219, 38, 38);
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  align-self: center;
  margin-top: 2rem;
}
